* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9c22e;
  font-family: "Poppins", sans-serif;
  color: #eef0eb;
  min-height: 100vh;
}
header {
  font-size: 2.5rem;
  text-transform: uppercase;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-input,
.todo-button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: #eef0eb;
}
.todo-input {
  color: #1c1f33;
}
.todo-button {
  color: #f9c22e;
  background-color: #eef0eb;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.todo-button:hover {
  background-color: #f9c22e;
  color: #eef0eb;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  background-color: #eef0eb;
  margin: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
}
.todo li {
  flex: 1;
}
.todo-item {
  color: #1c1f33;
  padding: 0rem 0.5rem;
}
.complete-btn,
.trash-btn {
  color: #eef0eb;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.complete-btn {
  background-color: #a4d4b4;
}
.trash-btn {
  background-color: #f24236;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.fall {
  transform: translatex(6rem);
  opacity: 0;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
